@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #efefef;
    --accent-color: #e0e0e0;
    --primary-color: #ba1c29;
    --secondary-color: #182848;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    padding: 2rem 0;
    min-height: 100vh;
}

/* UTILITIES */

input {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 90vw;
    margin: 3rem auto;
}

h1 {
    color: var(--primary-color);
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 700;
    margin-bottom: 1rem;
}

/* HEADER */

header {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

header img {
    height: 4rem;
}

header .search-bar {
    display: none;
    background: var(--accent-color);
    border: none;
    padding: 1rem;
    border-radius: 5rem;
    font-size: large;
}

header .search-bar::placeholder {
    color: #a0a0a0;
}

header .search-bar:focus {
    outline: none;
}

header .icons {
    display: none;
}

header .icons .icon {
    color: var(--primary-color);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    transition: background-color 200ms ease-in-out;
}

header .icons .icon:hover {
    background-color: #e0e0e0;
}

/* END HEADER */

/* MAIN */

main {
    border-radius: 0.75rem;
    min-height: 500px;
    background-image: linear-gradient(65deg, rgba(24, 40, 72, 0.9) 40%, rgb(24, 40, 72, 0.15) 100%), url("https://res.cloudinary.com/dx2f2mmwb/image/upload/v1748837809/666ed74e7783a_atqnr4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

main h1 {
    color: #fff;
}

.credisiman-chip {
    max-width: fit-content;
    font-size: clamp(0.9rem, 2vw, 1rem);
    background-color: #769ae2;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    font-weight: 600;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


main p {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 400;
}

/* END MAIN */

/* CATEGORIES GRID */
.categories-grid {
    display: grid;
    grid-template-areas:
        "sports"
        "electronics"
        "cooking"
        "selfcare"
        "clothing"
        "more";
    gap: 1.5rem;
}

.category {
    font-family: 'Bebas Neue', sans-serif;
    background-color: var(--accent-color);
    height: 10rem;
    border-radius: 0.75rem;
    padding: 1.5rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category:hover img {
    transform: scale(1.1);
}

.category img {
    height: 12rem;
    object-fit: cover;
    transition: transform 300ms ease-in-out;
}

.category h3 {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
    color: var(--primary-color);
}

#sports {
    grid-area: sports;
}

#electronics {
    grid-area: electronics;
}

#cooking {
    padding-left: 0;
    grid-area: cooking;
    flex-direction: row-reverse;
}

#selfcare {
    grid-area: selfcare;
}

#selfcare img {
    height: 20rem;
}

#clothing {
    grid-area: clothing;
    flex-direction: column;
    align-items: center;
}

#clothing img {
    height: 15rem;
}

#more {
    grid-area: more;
    justify-content: space-evenly;
}

#more h3 {
    color: #929292;
}

#more #more-icon {
    font-size: 6rem;
    color: #929292;
}

@media (min-width: 769px) {
    header {
        justify-content: space-between;
    }

    header .search-bar {
        display: flex;
        flex-grow: 1;
    }

    header .icons {
        display: flex;
        gap: 1rem;
    }

    main {
        min-height: 600px;
        justify-content: center;
        padding: 3rem;
    }

    .main-content {
        max-width: 500px;
    }

    .categories-grid {
        grid-template-areas:
            "sports sports sports electronics cooking cooking"
            "selfcare clothing clothing clothing clothing more";
    }

    #clothing {
        flex-direction: row;
    }
}